<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 ThanhDC. All rights reserved.</string>
	<key>LSUIElement</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://thanhdc-dev.github.io/PasteHub/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>fkkWmoN7BwuWURqLjYgXozX3aDXvNBVQ+iO86NaKzGA=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<real>86400</real>
</dict>
</plist>
